.weather-app-wrapper {
  max-width: 600px;
  margin: 20px;
  margin-bottom: 0;
  margin-left: 0;
}
.weather-app {
  border-radius: 5px;
}
p strong {
  font-size: 34px;
}
p {
  display: inline-flex;
  margin-left: 10px;
}
p span {
  font-family: Roboto, arial, sans-serif;
  font-size: 50px;
}
ul {
  list-style-type: none;
  color: #70757a;
}
.PHW {
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
  padding-top: 6px;
  margin-left: -15px;
}
.dayanddescription {
  margin-top: 10px;
  margin-left: -15px;
  line-height: normal;
  text-align: left;
}
.place {
  color: #70757a;
  font-size: 24px;
}
.description::first-letter {
  text-transform: uppercase;
}
.units {
  margin-top: 8px;
}
