.weather-app-wrapper {
  max-width: 600px;
  margin: 20px;
  margin-bottom: 0;
  margin-left: 0;
}
.weather-app {
  border-radius: 5px;
}

p {
  display: inline-flex;
  margin-left: 10px;
}
p span {
  font-family: Roboto, arial, sans-serif;
  font-size: 50px;
  margin-top: 8px;
}
ul {
  list-style-type: none;
  color: #70757a;
}
.PHW {
  color: #70757a;
  font-size: 14px;
  line-height: 17px;
  padding-top: 6px;
  margin-left: -15px;
  margin-top: 20px;
}
.dayanddescription {
  margin-top: 10px;
  margin-left: -15px;
  line-height: normal;
  text-align: left;
}
.place {
  color: #70757a;
  font-size: 24px;
}
.description::first-letter {
  text-transform: uppercase;
}
.units {
  margin-top: 15px;
  text-decoration: none;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  color: #70a3d4;
  text-decoration: none;
}
.weather-forecast {
  margin: 10px;
  line-height: 15px;
  text-align: center;
}
.weather-forecast-date {
  color: #bababa;
}

.weather-forecast-temperature {
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  font-family: Roboto, arial, sans-serif;
}
.weather-forecast-maxtemp {
  color: #81858a;
}
.weather-forecast-mintemp {
  color: #bababa;
}
